.card.add_post_form {
    @include card;
    padding: 30px;

    @media (max-width: $size_desktop) {
        margin-top: 120px;
    }
}

.add_post_form__textarea {
    background-color: var(--bgc-card-lighten);
    border: 1px solid var(--border-color);

    &::placeholder {
        color: var(--text-color);
    }
}

.add_post_form__avatar {
    @include small_avatar;

    @media (max-width: $size_mobile) {
        display: none;
    }
}

.add_post_form__attached_photo {
    max-width: 100%;
    border-radius: 7px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.add_post_form__input_file {
    display: none;
}

.add_post_form__input_file_label {
    padding: 6px 12px;
    border-radius: 7px;

    &:hover {
        background-color: lightgray;
    }
}