.card.add_post_form {
    width: 900px;
    margin: 50px auto;
    box-shadow: $card-shadow;
    border: none;
    padding: 30px;
    // margin-top: 50px;

    @media (max-width: 991.98px) {
        width: 100%;
        margin: 20px auto;
        // margin-top: 0px;
    }

    @media (max-width: 1330px) and (min-width: 991.98px) {
        margin-top: 120px;
    }

    // &.mood {
    //     background-color: $bgc-card-mood;
    //     color: $text-color-mood;
    // }

    // &.dark {
    //     background-color: $bgc-card-dark;
    //     color: $text-color-dark;
    // }
}

.add_post_form__avatar {
    width: 64px;
    height: 64px;
    border-radius: 8px;

    @media (max-width: 991.98px) {
        display: none;
    }
}

.add_post_form__attached_photo {
    max-width: 100%;
    border-radius: 7px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.add_post_form__input_file {
    display: none;
}

.add_post_form__input_file_label {
    padding: 6px 12px;
    border-radius: 7px;

    &:hover {
        background-color: lightgray;
    }
}