.card.todo_form {
    margin: $component-spacing;

    &.mood {
        border: 1px solid darken($bgc-todo-header-mood, 10%);
        color: $text-color-mood;
        background-color: $bgc-todo-mood;
    }

    &.dark {
        border: 1px solid darken($bgc-todo-header-dark, 10%);
        color: $text-color-dark;
        background-color: $bgc-todo-dark;
    }
}

.todo_form__form.form-control {
    transition: 1.2s ease;

    &.mood {
        background-color: lighten($bgc-todo-mood, 5%);

        &::placeholder {

            color: $text-color-mood;
        }
    }

    &.dark {
        background-color: lighten($bgc-todo-dark, 10%);

        &::placeholder {

            color: $text-color-dark;
        }
    }
}

.btn.todo_form__button {
    transition: 1.2s ease;
    // cursor: pointer;
    padding: 5px;
    // line-height: 1;
    width: 50px;
    background-color: $primary;
    border-top-right-radius: 0.25em !important;
    border-bottom-right-radius: 0.25em !important;

    &.mood {
        background-color: $primary-mood;
    }

    &.dark {
        background-color: $primary-dark;
    }
}