.header {
    display: flex;
    margin: $component-spacing;
    word-break: break-all;


    &__title {
        font-size: $h1-font-size;
        margin: 0;
        word-wrap: break-word;

        &.mood {
            color: $text-color-mood;
        }

        &.dark {
            color: $text-color-dark;
        }

        &:active,
        &:focus {
            transition: 1.2s ease;
            text-decoration: underline;
        }
    }

    &__number {
        color: $gray_600;
        margin-left: 0.2em;
        font-size: $h1-font-size;

        &.dark {
            color: $primary-dark;
        }
    }

}