.pagination_bar {

    &__wrapper {
        display: flex;
        margin: 50px auto 0 auto;
        width: min-content;

        @media (max-width: 670px) {
            width: 100%;
        }
    }

    &--dont-display {
        display: none;
    }

    @media (max-width: 670px) {

        width: 100% !important;
        border-radius: $pagination-radius !important;

        li {
            width: 100%;
            text-align: center;

            a,
            span {
                padding-left: 0;
                padding-right: 0;
            }
        }

        &--only_desktop {
            display: none;
        }

        &--first_edge_on_mobile a {
            border-radius: $pagination-radius 0 0 $pagination-radius !important;
        }

        &--last_edge_on_mobile a {
            border-radius: 0 $pagination-radius $pagination-radius 0 !important;
        }

    }


    &.pagination {
        width: min-content;
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);

        // max-width: 50px;

        .page-item a {
            // max-width: 50px;
            background-color: var(--bgc-card);
            color: var(--muted-text-color);
            border: 1px solid var(--border-color);
            font-weight: bold;
        }
    }
}