.card.post_card {
    @include card;
    text-align: justify;
    text-justify: inter-word;

    @media (max-width: $size-mobile) {
        text-align: left;
    }

}

.post_card__created_at {
    color: var(--muted-text-color);
    font-size: 0.9rem;
}

.post_card__username {
    color: $primary;
    font-size: 1.7rem;
    margin-bottom: 0.1rem;
}

.post_card__avatar {
    @include small_avatar;
    margin-right: 15px;
}

.post_card__observe_button {
    color: rgba($primary, .7);
    border: 1px solid rgba($primary, .7);
    font-weight: 600;
    text-transform: uppercase;
    margin-left: auto;
    background-color: transparent;
    display: flex;
    align-items: center;

    &:hover,
    &:focus,
    &:active {
        color: $primary;
        fill: $primary;
        border: 1px solid $primary;
    }

    &:focus,
    &:active {
        background-color: rgba($primary, .4);
    }

    &:hover {
        background-color: rgba($primary, .2);
    }

}

.post_card__observe_text {
    @media (max-width: 460px) {
        display: none;
    }

}

.post_card__observe_icon {
    fill: rgba($primary, .7);
    margin-left: 5px;

    @media (max-width: 460px) {
        margin-left: 0px;
    }

}

.post_card__image {
    max-width: 100%;
    margin-top: 25px;
    border-radius: 7px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}

.card-footer.post_card__footer {
    display: flex;
    margin: 0 25px;
    padding: 25px 0px;
    border: none;
    background-color: transparent;
}

.card-header.post_card__header {
    margin: 0 35px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.card-body.post_card__body {
    padding: 35px 35px 20px 35px;
    font-size: 1em;
}

.btn.post_card__show_post {
    @include flat-button;
    padding: 8px 15px;
    margin: 0 0 0 auto;
}

.btn.post_card__fav_button {
    padding: 3px 10px;
    margin-right: 10px;
    @include flat-button;
    display: flex;
    align-items: center;

    span {
        margin-left: 3px;
        font-size: 1.2rem;
    }

    &--is_favorite {
        fill: rgb(214, 53, 50);
    }

    &--is_liked {
        color: white;
        fill: white;
        background-color: rgb(65, 163, 70) !important;

        &:focus {
            background-color: rgb(65, 163, 70) !important;
        }
    }
}




.postcard404 {
    color: gray;
    margin: 100px auto 100px auto;
    text-align: center;
    width: fit-content;
    display: block;
    font-size: 25px;
}