.card.post_card {
    @include card;
    text-align: justify;
    text-justify: inter-word;

    @media (max-width: $size-mobile) {
        text-align: left;
    }

}

.post_card__username {
    color: $primary;
    font-size: 1.7rem;
}

.post_card__avatar {
    @include small_avatar;
    margin-right: 15px;
}

.post_card__observe_button {
    color: rgba($primary, .7);
    border: 1px solid rgba($primary, .7);
    font-weight: 600;
    text-transform: uppercase;
    margin-left: auto;
    background-color: transparent;

    &:hover,
    &:focus {
        color: $primary;
        border: 1px solid $primary;
    }

    &:focus {
        background-color: rgba($primary, .4);
    }

    &:hover {
        background-color: rgba($primary, .2);
    }

}

.post_card__observe_text {
    @media (max-width: 460px) {
        display: none;
    }

}

.post_card__observe_icon {
    fill: rgba($primary, .7);
    margin-left: 5px;

    @media (max-width: 460px) {
        margin-left: 0px;
    }

}

.post_card__image {
    max-width: 100%;
    margin-top: 25px;
    border-radius: 7px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}

.card-footer.post_card__footer {
    display: flex;
    margin: 0 25px;
    padding: 25px 0px;
    border: none;
    background-color: transparent;
}

.card-header.post_card__header {
    margin: 0 35px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.card-body.post_card__body {
    padding: 35px 35px 20px 35px;
}

.btn.post_card__fav_button {
    padding: 3px 10px;
    width: auto;
    min-width: 40px;
    height: 40px;
    margin-right: 10px;

    svg {
        height: 80%;
    }

    &--plus {
        display: flex;
        align-items: center;
    }

}

.btn.post_card__show_post {
    color: var(--text-color);
    background-color: transparent !important;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: $btn-border-radius;
    padding: 8px 15px;
    height: 40px;
    margin: 0 0 0 auto;
    line-height: 1.5;

    &:hover {
        background-color: var(--flat-button-color-hover) !important;
    }

    &:focus {
        background-color: var(--flat-button-color-active) !important;
    }
}

.postcard404 {
    color: gray;
    margin: 100px auto 0px auto;
    width: fit-content;
    display: block;
    font-size: 25px;
}