.btn-group.sort_profile_bar {
    width: 900px;
    margin: 0px auto;
    height: 50px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: stretch;
    overflow-x: auto;

    @media (max-width: 991.98px) {
        max-width: 100%;
    }
}

.btn.sort_profile_bar__button {
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--muted-text-color);
    border: 1px solid var(--border-color) !important;
    background-color: var(--bgc-card);

    &.active {
        background-color: var(--bgc-card-lighten) !important;
        color: var(--muted-text-color) !important;
    }

    &.focus {
        box-shadow: none;
    }
}