.card.sort_bar {
    width: 900px;
    margin: 50px auto;
    box-shadow: $card-shadow;
    border: none;
    padding: 0 20px;

    @media (max-width: 991.98px) {
        width: 100%;
        text-align: left;
    }

    // &.mood {
    //     background-color: $bgc-card-mood;
    //     color: $text-color-mood;
    // }

    // &.dark {
    //     background-color: $bgc-card-dark;
    //     color: $text-color-dark;
    // }
}

:not(.add_post_form)+.sort_bar {

    @media (max-width: 1330px) {
        margin-top: 120px;
    }
}