.card.sort_bar {
    @include card;
    padding: 0 20px;

    @media (max-width: $size-mobile) {
        width: 100%;
        text-align: left;
    }
}

.sort_bar__dropdown {
    display: inline;
    margin-left: 10px;

    button {

        background-color: var(--bgc-card);
        color: var(--text-color);
        border: none;

        &.active {
            background-color: var(--bgc-card-lighten) !important;
        }

        &.focus {
            box-shadow: none;
        }
    }
}

:not(.add_post_form)+.sort_bar {
    @media (max-width: $size-desktop) {
        margin-top: 120px;
    }
}