.theme_switch {
    background-color: transparent;
    position: absolute;
    top: 100px;
    right: 50px;

    &.mood {
        background-color: transparent;
    }

    &.dark {
        background-color: transparent;
    }

    @media (max-width: 991.98px) {
        right: 15px;
        // @media (max-width: 1300px) {
        // position: unset;
        // margin: 15px 0 20;
    }
}

.btn.theme_switch__button {

    border: 1px solid darken($bgc-light, 10%);

    &.mood {
        // background-color: $bgc-card-mood;
        border: 1px solid darken($bgc-card-mood, 10%);
        fill: $text-color-mood;
    }

    &.dark {
        // background-color: $bgc-card-dark;
        border: 1px solid darken($bgc-card-dark, 10%);
        fill: $text-color-dark;
    }

    &.active {
        &.mood {
            background-color: lighten($bgc-card-mood, 5%);
        }

        &.dark {
            background-color: lighten($bgc-card-dark, 10%);
            border: 1px solid $bgc-card-dark;
        }
    }

    &.focus {
        box-shadow: none;
    }
}