.theme_switch {
    background-color: transparent;
    position: absolute;
    top: 100px;
    right: 50px;

    &.mood {
        background-color: transparent;
    }

    &.dark {
        background-color: transparent;
    }

    @media (max-width: $size-mobile) {
        right: 15px;
    }
}

.btn.theme_switch__button {

    border: 1px solid var(--border-color);
    fill: var(--text-color);
    background-color: var(--bgc-card);

    &.active {
        background-color: var(--bgc-card-lighten) !important;
        border: 1px solid var(--border-color) !important;
    }

    &.focus {
        box-shadow: none;
    }
}