.card.todo_list {
    margin: $component-spacing;
    background-color: transparent;


    &.mood {
        border: 1px solid darken($bgc-todo-header-mood, 10%);
        color: $text-color-mood
    }

    &.dark {
        border: 1px solid darken($bgc-todo-header-dark, 10%);
        color: $text-color-dark
    }
}

.card-header.todo_list__header {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;


    &.mood {
        background-color: $bgc-todo-header-mood;
        color: $text-color-mood
    }

    &.dark {
        background-color: $bgc-todo-header-dark;
        color: $text-color-dark
    }
}

.collapsing {
    transition: height .35s ease !important;
}

.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 100ms ease-in;
}