.list-group-item.todo {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: height .35s ease;

    // transition: 0s ease !important;

    * {
        // transition: 0s ease !important;
    }

    &.mood {
        background-color: $bgc-todo-mood;
        color: $text-color-mood;
        fill: $text-color-mood;
    }

    &.dark {
        background-color: $bgc-todo-dark;
        color: $text-color-dark;
        fill: $text-color-dark;
    }

    &:hover {
        // transition: 0s ease !important;
        background-color: $gray-200;

        .todo__label {
            text-decoration: line-through;
        }

        .btn.todo__icon_button {
            visibility: visible;
        }

        &.mood {
            background-color: lighten($bgc-todo-mood, 5%);
            color: $text-color-mood;
            fill: $text-color-mood;
        }

        &.dark {
            background-color: lighten($bgc-todo-dark, 7%);
            color: $text-color-dark;
            fill: $text-color-dark;
        }
    }
}

.btn.todo__icon_button {
    visibility: hidden;
    padding: 5px;
    align-self: flex-end;
    margin-left: 3px;
    background-color: transparent;
    border: none;



    &:hover {
        background-color: $gray-400;

        &.dark {
            background-color: darken($bgc-todo-dark, 5%);
        }
    }

    &:active,
    &:focus {
        background-color: $gray-600;
    }
}

.todo__button_group {
    margin-left: auto;
}

.todo__label {
    padding: 10px $card-spacer-x;
    cursor: text;

    &--done {
        text-decoration: line-through;
    }

    &:hover:not(.todo__label--done) {
        text-decoration: none !important;
    }
}