body,
html,
#root {
    margin: 0;
    padding: 0;
    height: 100%;

}

body {

    .light {

        --bgc: rgb(247, 247, 247);
        --bgc-card: white;
    }

    //TODO should be mixins imo

    .mood {
        --bgc: #b0bec5;
        --bgc-card: #d8e9f1;
    }

    .dark {
        --bgc: #212121;
        --bgc-card: #424242;

    }

}

.main {

    @media (max-width: 991.98px) {
        padding: 0 10px;
    }

    transition: color,
    background-color 1.2s ease;

    * {
        transition: background-color 1.2s ease;
    }

    font-family: sans-serif;
    min-height: 100%;
    width: 100%;
    // display: flex;
    // justify-content: center;
    background-color: var(--bgc);
    box-sizing: border-box;


    &__wrapper {
        padding-top: 50px;
        width: 100%;
        height: 100%;
        margin: 0;
    }

}

.mood {
    // color: $text-color-mood;
    // fill: $text-color-mood;
}

.dark {
    // background-color: $bgc-card-dark;
    // color: $text-color-dark;
    // fill: $text-color-dark;
}