body,
html,
#root {
    margin: 0;
    padding: 0;
    height: 100%;

}

.main {

    @media (max-width: 991.98px) {
        padding: 0 10px;
    }

    transition: color,
    background-color 1.2s ease;

    * {
        transition: background-color 1.2s ease;
    }

    font-family: sans-serif;
    min-height: 100%;
    width: 100%;
    // display: flex;
    // justify-content: center;
    background-color: $bgc-light;
    box-sizing: border-box;

    &.mood {
        background-color: $bgc-mood;
    }

    &.dark {
        background-color: $bgc-dark;
    }

    &__wrapper {
        padding-top: 50px;
        width: 100%;
        height: 100%;
        margin: 0;
    }

}

.mood {
    background-color: $bgc-card-mood;
    color: $text-color-mood;
    fill: $text-color-mood;
}

.dark {
    background-color: $bgc-card-dark;
    color: $text-color-dark;
    fill: $text-color-dark;
}