// Custom variables
$component-spacing: 20px 0;
//$primary: #EC407A;
$card-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
$menu_bar-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);


// size
$size-mobile: 990px;
$size-desktop: 1330px;